[project]
name = "scipy"
version = "1.15.0.dev0"
description = "Fundamental algorithms for scientific computing in Python"
authors = ["SciPy Developers <scipy-dev@python.org>"]
channels = ["conda-forge"]
platforms = ["osx-arm64", "linux-64", "win-64"]

[dependencies]
compilers = ">=1.7.0,<2"
pkg-config = ">=0.29.2,<0.30"
ninja = ">=1.12.1,<2"
meson = ">=1.5.1,<2"
meson-python = ">=0.16.0"
cython = ">=3.0.10,<4"
python-build = "*"
pip = "*"
blas-devel = "*"
numpy = ">=2.0.0"
pybind11 = ">=2.13.1"
pythran = ">=0.15.0"
rich-click = "*"
pydevtool = "*"
ipython = "*"
# Add test dependencies to default list of dependencies so they show up in every
# environment without having to also see the test task in those other envs
pytest = "*"
hypothesis = "*"
pytest-cov = "*"
pytest-timeout = "*"
pytest-xdist = "*"
threadpoolctl = "*"
pooch = "*"
mpmath = "*"
gmpy2 = "*"
ccache = ">=4.10.1,<5"

[feature.typing.dependencies]
mypy = "1.10.*"
typing_extensions = "*"
types-psutil = "*"

[feature.bench.dependencies]
asv = "*"

[feature.lint.dependencies]
ruff = "*"
pycodestyle = "*"
cython-lint = ">=0.12.2"

[feature.doc.dependencies]
sphinx = "~=7"
intersphinx-registry = "*"
pydata-sphinx-theme = ">=0.15.2"
sphinx-copybutton = "*"
sphinx-design = ">=0.4.0"
matplotlib = ">=3.5"
myst-nb = ">=1.1.1,<2"
numpydoc = "*"
jupytext = "*"
pooch = "*"
jupyterlite-sphinx = ">=0.16.2"
jupyterlite-pyodide-kernel = "*"

[tasks]
ipython = { cmd = "python dev.py ipython", cwd = "scipy" }

[feature.build.tasks]
build = { cmd = "python dev.py build -C-Dblas=blas -C-Dlapack=lapack -C-Duse-g77-abi=true", cwd = "scipy", env = { CC = "ccache $CC", CXX = "ccache $CXX", FC = "ccache $FC" } }
wheel = { cmd = "python -m build -wnx -Cbuild-dir=build-whl && cp dist/*.whl ../../wheelhouse/", cwd = "scipy" }
profile-build = { cmd = "rm -rf build-profile && meson setup build-profile && ninja -C build-profile && python tools/ninjatracing.py build-profile/.ninja_log > build-profile/trace.json", cwd = "scipy" }
check-missingdeps = { cmd = "ninja -C build -t missingdeps", depends-on = [
    "build",
], cwd = "scipy" }

[feature.test.tasks]
test = { cmd = "python dev.py test", cwd = "scipy" }

[feature.typing.tasks]
mypy = { cmd = "python dev.py mypy", cwd = "scipy" }

[feature.bench.tasks]
bench = { cmd = "python dev.py bench", cwd = "scipy" }

[feature.lint.tasks]
lint = { cmd = "python dev.py lint", cwd = "scipy" }

[feature.doc.tasks]
doc = { cmd = "python dev.py doc", cwd = "scipy" }


[feature.bldcheck.dependencies]
graphviz = "*"
mkdocs = "*"

[feature.bldcheck.activation]
scripts = ["activate_graphviz.sh"]


# BLAS/LAPACK features
[feature.openblas.dependencies]
libblas = { version = "*", build = "*openblas" }
openblas = ">=0.3.27,<0.4"

[feature.mkl.target.linux-64.dependencies]
libblas = { version = "*", build = "*mkl" }
mkl = ">=2023.2.0,<2025"

[feature.netlib.dependencies]
libblas = { version = "*", build = "*netlib" }

[feature.blis]
platforms = ["linux-64", "win-64"]

[feature.blis.dependencies]
libblas = { version = "*", build = "*blis" }


# CPU/CUDA features
[feature.cpu.tasks]
test-cpu = { cmd = "python dev.py test -b all", cwd = "scipy" }

[feature.cuda]
platforms = ["linux-64"]
system-requirements = { cuda = "12" }

[feature.cuda.tasks]
test-cuda = { cmd = "python dev.py test -b all", cwd = "scipy", env = { SCIPY_DEVICE = "cuda" } }


# Array libraries we have support for
[feature.torch]
# Windows support pending: https://github.com/conda-forge/pytorch-cpu-feedstock/issues/32,
#                          https://github.com/conda-forge/pytorch-cpu-feedstock/pull/231
platforms = ["linux-64", "osx-arm64"]

[feature.torch.dependencies]
pytorch = "*"

[feature.torch.tasks]
test-torch = { cmd = "python dev.py test -b torch", cwd = "scipy" }

[feature.cupy]
platforms = ["linux-64"]

[feature.cupy.dependencies]
cupy = "*"

[feature.cupy.tasks]
test-cupy = { cmd = "python dev.py test -b cupy", cwd = "scipy" }

[feature.jax-cpu]
# Windows support pending: https://github.com/conda-forge/jaxlib-feedstock/issues/161
platforms = ["linux-64", "osx-arm64"]

[feature.jax-cpu.dependencies]
jax = "*"
jaxlib = { version = "*", build = "*cpu*" }

[feature.jax-cuda]
platforms = ["linux-64"]

[feature.jax-cuda.dependencies]
jax = "*"
jaxlib = { version = "*", build = "*cuda*" }

[feature.jax-base.tasks]
test-jax = { cmd = "python dev.py test -b jax.numpy", cwd = "scipy" }

[feature.array_api_strict.dependencies]
array-api-strict = "*"

[feature.array_api_strict.tasks]
test-strict = { cmd = "python dev.py test -b array_api_strict", cwd = "scipy" }


[feature.mlx]
platforms = ["osx-arm64"]
system-requirements = { macos = "13.5" }

[feature.mlx.dependencies]
mlx = "*"

[feature.free-threading]
channels = ["conda-forge/label/cython_dev", "conda-forge"]

[feature.free-threading.dependencies]
python-freethreading = ">=3.13.0,<3.14"
compilers = ">=1.7.0,<2"
pkg-config = ">=0.29.2,<0.30"
ninja = ">=1.12.1,<2"
ccache = ">=4.10.1,<5"
meson = ">=1.6.0,<2"
meson-python = ">=0.16.0"
cython = ">=3.1.0a0,<4"
pythran = ">=0.17.0"
python-build = "*"
pip = "*"
blas-devel = "*"
numpy = ">=2.1.3"
pybind11 = ">=2.13.1"
rich-click = "*"
pydevtool = "*"
pytest = "*"
hypothesis = "*"
threadpoolctl = "*"
pooch = "*"
pytest-run-parallel = "*"

[feature.free-threading.tasks]
build-nogil = { cmd = "python dev.py --build-dir=build-nogil build -C-Dblas=blas -C-Dlapack=lapack -C-Duse-g77-abi=true", cwd = "scipy", env = { CC = "ccache $CC", CXX = "ccache $CXX", FC = "ccache $FC" } }
test-nogil = { cmd = "python -Xgil=0 dev.py --build-dir=build-nogil test", cwd = "scipy" }


[environments]
default = ["build", "test", "typing", "bench", "openblas", "lint"]
doc = ["doc"]
bldcheck = ["bldcheck"]
mkl = ["mkl", "test"]
netlib = ["netlib", "test"]
blis = ["blis", "test"]
torch = ["torch", "mkl"] # FIXME: add env var
cupy = ["cupy"]
jax = ["jax-base", "jax-cpu"]
mlx = ["mlx"]
array-api-strict = ["array_api_strict"]
array-api = [
    "cpu",
    "array_api_strict",
    "jax-base",
    "jax-cpu",
    "mkl",
    "torch",
]
array-api-cuda = [
    "cuda",
    "array_api_strict",
    "cupy",
    "jax-base",
    "jax-cuda",
    "mkl",
    "torch",
    "test",
]
free-threading = { features = ["free-threading"], no-default-feature = true }
