[project]
name = "scipy"
version = "1.15.0.dev0"
description = "Fundamental algorithms for scientific computing in Python"
authors = ["SciPy Developers <scipy-dev@python.org>"]
channels = ["conda-forge"]
platforms = ["osx-arm64", "linux-64"]

[tasks]
build = { cmd = "python dev.py build -C-Dblas=blas -C-Dlapack=lapack -C-Duse-g77-abi=true", cwd = "scipy" }
wheel = { cmd = "python -m build -wnx -Cbuild-dir=build-whl && cp dist/*.whl ../../wheelhouse/", cwd = "scipy" }
ipython = { cmd = "python dev.py ipython", cwd = "scipy" }

[dependencies]
compilers = ">=1.7.0,<2"
pkg-config = ">=0.29.2,<0.30"
ninja = ">=1.12.1,<2"
meson = ">=1.5.1,<2"
meson-python = ">=0.16.0"
cython = ">=3.0.10,<4"
build = "*"
blas-devel = "*"
numpy = ">=2.0.0"
pybind11 = ">=2.13.1"
pythran = ">=0.15.0"
rich-click = "*"
pydevtool = "*"
ipython = "*"

[feature.test.dependencies]
pytest = "*"
hypothesis = "*"
pytest-cov = "*"
pytest-timeout = "*"
pytest-xdist = "*"
asv = "*"
threadpoolctl = "*"
pooch = "*"
mpmath = "*"
gmpy2 = "*"
mypy = "1.10.*"
typing_extensions = "*"
types-psutil = "*"

[feature.lint.dependencies]
ruff = "*"
pycodestyle = "*"
cython-lint = ">=0.12.2"


[feature.test.tasks]
test = { cmd = "python dev.py test", cwd = "scipy" }
mypy = { cmd = "python dev.py mypy", cwd = "scipy" }

[feature.lint.tasks]
lint = { cmd = "python dev.py lint", cwd = "scipy" }


# BLAS/LAPACK features
[feature.openblas.dependencies]
libblas = "*=*openblas"
openblas = ">=0.3.27,<0.4"

[feature.mkl.target.linux-64.dependencies]
libblas = "*=*mkl"
mkl = ">=2023.2.0,<2025"


# CPU/CUDA features
[feature.cpu]
platforms = ["linux-64", "osx-arm64"]

[feature.cpu.tasks]
test-cpu = { cmd = "python dev.py test -b all", cwd = "scipy" }

[feature.cuda]
platforms = ["linux-64"]
system-requirements = { cuda = "12" }

[feature.cuda.tasks]
test-cuda = { cmd = "python dev.py test -b all", cwd = "scipy" }


# Array libraries we have support for
[feature.pytorch]
platforms = ["linux-64", "osx-arm64"]

[feature.pytorch.dependencies]
pytorch = "*"

[feature.pytorch.tasks]
test-torch = { cmd = "python dev.py test -b pytorch", cwd = "scipy" }

[feature.cupy]
platforms = ["linux-64"]

[feature.cupy.dependencies]
cupy = "*"

[feature.cupy.tasks]
test-cupy = { cmd = "python dev.py test -b cupy", cwd = "scipy" }

[feature.jax]
platforms = ["linux-64", "osx-arm64"]

[feature.jax.dependencies]
jax = "=0.4.28"

[feature.jax.tasks]
test-jax = { cmd = "python dev.py test -b jax.numpy", cwd = "scipy" }

[feature.array_api_strict]
platforms = ["linux-64", "osx-arm64"]

[feature.array_api_strict.dependencies]
array-api-strict = "*"

[feature.array_api_strict.tasks]
test-strict = { cmd = "python dev.py test -b array_api_strict", cwd = "scipy" }

[feature.mlx]
platforms = ["osx-arm64"]
system-requirements = { macos = "13.5" }

[feature.mlx.dependencies]
mlx = "*"


[environments]
test = ["test"]
lint = ["lint"]
dev = ["test", "lint"]
default = ["test", "openblas"]
mkl = ["mkl", "test"]
pytorch = ["pytorch", "mkl", "test"]
cupy = ["cupy", "test"]
jax = ["jax", "test"]
mlx = ["mlx"]
array-api-strict = ["array_api_strict", "test"]
array-api = ["cpu", "mkl", "pytorch", "jax", "array_api_strict", "test"]
array-api-cuda = [
    "cuda",
    "mkl",
    "pytorch",
    "jax",
    "cupy",
    "array_api_strict",
    "test",
]
