[project]
name = "numpy"
version = "2.2.0.dev0"
description = "Fundamental package for array computing in Python"
authors = ["Ralf Gommers <ralf.gommers@gmail.com>"]
channels = ["https://prefix.dev/conda-forge"]
platforms = ["osx-arm64", "linux-64", "win-64"]

[tasks]
build = { cmd = "spin build", cwd = "numpy", env = { CC = "ccache $CC", CXX = "ccache $CXX" } }
ipython = { cmd = "spin ipython", cwd = "numpy" }
wheel = { cmd = "python -m build -wnx -Cbuild-dir=build-whl && mv dist/*.whl ../../wheelhouse/", cwd = "numpy" }

#[target.unix.activation.env]
#CC = "ccache $CC"

[dependencies]
compilers = ">=1.9.0,<2"
pkg-config = ">=0.29.2,<0.30"
ninja = ">=1.12.1,<2"
meson = ">=1.8.0,<2"
meson-python = ">=0.18.0"
openblas = ">=0.3.29,<0.4"
spin = ">=0.14,<0.15"
cython = ">=3.0.12,<4"
python-build = ">=1.2.2.post1,<2"
ipython = ">=9.1.0,<10"
ccache = ">=4.11.2,<5"

[feature.test.dependencies]
pytest = "*"
hypothesis = "*"
pytest-xdist = "*"
asv = "*"
mypy = "==1.15.0"

[feature.free-threading.dependencies]
pytest = "*"
hypothesis = "*"
python-freethreading = ">=3.13.0,<3.14"
cython = ">=3.1.0,<4"
pytest-run-parallel = ">=0.4.3"

[feature.lint.dependencies]
ruff = "*"
pycodestyle = "2.8.*"
gitpython = ">=3.1.30"

[feature.docs.dependencies]
towncrier = "*"
sphinx = "==7.2.6"
numpydoc = "==1.4"
matplotlib = ">=3.10.1,<4"
sphinx-copybutton = ">=0.5.2,<0.6"
sphinx-design = ">=0.6.1,<0.7"
jupyterlite-sphinx = ">=0.19.1,<0.20"
jupyterlite-pyodide-kernel = "==0.5.2"
pydata-sphinx-theme = ">=0.16.1,<0.17"
scipy = ">=1.15.2,<2"
breathe = ">=4.36.0,<5"
doxygen = ">=1.13.2,<2"

[feature.test.tasks]
test = { cmd = "spin test", cwd = "numpy" }
bench = { cmd = "spin bench", cwd = "numpy" }
mypy = { cmd = "spin mypy", cwd = "numpy" }

[feature.free-threading.tasks]
build-nogil = { cmd = "spin build --build-dir=build-nogil", cwd = "numpy", env = { CC = "ccache $CC", CXX = "ccache $CXX" } }
test-nogil = { cmd = "spin test --build-dir=build-nogil", cwd = "numpy" }
ipython-nogil = { cmd = "spin ipython --build-dir=build-nogil", cwd = "numpy" }

[feature.lint.tasks]
lint = { cmd = "spin lint", cwd = "numpy" }

[feature.docs.tasks]
docs = { cmd = "spin docs", cwd = "numpy" }
open-docs = { cmd = "open index.html", cwd = "numpy/doc/build/html" }

[environments]
test = ["test"]
lint = ["lint"]
docs = ["docs"]
free-threading = ["free-threading"]
