[workspace]
name = "numpy"
version = "2.5.0.dev0"
description = "Fundamental package for array computing in Python"
authors = ["Ralf Gommers <ralf.gommers@gmail.com>"]
channels = ["https://prefix.dev/conda-forge"]
platforms = ["osx-arm64", "linux-64", "win-64"]

[tasks]
build = { cmd = "spin build", cwd = "numpy", env = { CC = "ccache $CC", CXX = "ccache $CXX" } }
ipython = { cmd = "spin ipython", cwd = "numpy" }
wheel = { cmd = "python -m build -wnx -Cbuild-dir=build-whl && mv dist/*.whl ../../wheelhouse/", cwd = "numpy" }

#[target.unix.activation.env]
#CC = "ccache $CC"

[dependencies]
compilers = ">=1.9.0,<2"
pkg-config = ">=0.29.2,<0.30"
ninja = ">=1.12.1,<2"
meson = ">=1.10.0,<2"
meson-python = ">=0.18.0"
openblas = ">=0.3.29,<0.4"
spin = ">=0.15,<0.16"
cython = ">=3.2,<4"
python-build = ">=1.2.2.post1,<2"
ipython = ">=9.1.0,<10"
ccache = ">=4.11.2,<5"
python = ">=3.14,<3.15"

[feature.test.dependencies]
pytest = "*"
hypothesis = "*"
pytest-xdist = "*"
asv = "*"
mypy = "==1.19.1"

[feature.free-threading.dependencies]
python-freethreading = ">=3.14.0,<3.15"
compilers = ">=1.7.0,<2"
pkg-config = ">=0.29.2,<0.30"
ninja = ">=1.12.1,<2"
ccache = ">=4.10.1,<5"
meson = ">=1.6.0,<2"
meson-python = ">=0.18.0"
cython = ">=3.2.0,<4"
python-build = "*"
pip = "*"
blas-devel = "*"
pybind11 = ">=2.13.1"
spin = "*"
pytest = "*"
hypothesis = "*"
threadpoolctl = "*"
pooch = "*"
pytest-run-parallel = ">=0.8.1"
ipython = "*"

[feature.lint.dependencies]
ruff = "*"
pycodestyle = "2.8.*"
gitpython = ">=3.1.30"

[feature.docs.dependencies]
towncrier = "*"
sphinx = "==7.2.6"
numpydoc = "==1.4"
matplotlib = ">=3.10.1,<4"
sphinx-copybutton = ">=0.5.2,<0.6"
sphinx-design = ">=0.6.1,<0.7"
jupyterlite-sphinx = ">=0.19.1,<0.20"
jupyterlite-pyodide-kernel = "==0.5.2"
pydata-sphinx-theme = ">=0.16.1,<0.17"
scipy = ">=1.16.3,<2"
breathe = ">=4.36.0,<5"
doxygen = ">=1.13.2,<2"

[feature.test.tasks]
test = { cmd = "spin test", cwd = "numpy" }
bench = { cmd = "spin bench", cwd = "numpy" }
mypy = { cmd = "spin mypy", cwd = "numpy" }

[feature.free-threading.tasks]
build-nogil = { cmd = "spin build --build-dir=build-nogil", cwd = "numpy", env = { CC = "ccache $CC", CXX = "ccache $CXX" } }
test-nogil = { cmd = "spin test --build-dir=build-nogil", cwd = "numpy" }
ipython-nogil = { cmd = "spin ipython --build-dir=build-nogil", cwd = "numpy" }

[feature.lint.tasks]
lint = { cmd = "spin lint", cwd = "numpy" }

[feature.docs.tasks]
docs = { cmd = "spin docs -j6", cwd = "numpy" }
open-docs = { cmd = "open index.html", cwd = "numpy/doc/build/html" }

[environments]
test = ["test"]
lint = ["lint"]
docs = ["docs"]
free-threading = { features = ["free-threading"], no-default-feature = true }
