name: SciPy

on:
  push:
    branches:
      - main
    paths:
      - "scipy/**"
      - ".github/workflows/*_scipy.yml"
  pull_request:
    branches:
      - main
    paths:
      - "scipy/**"
      - ".github/workflows/*_scipy.yml"

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

permissions:
  contents: read # to fetch code (actions/checkout)

env:
  PYTHONIOENCODING: "utf8" # https://github.com/scipy/scipy/issues/18046

jobs:
  test:
    name: SciPy ${{ matrix.os }}${{ matrix.suffix }}
    # To enable this job and subsequent jobs on a fork, comment out:
    if: github.repository == 'rgommers/pixi-dev-scipystack'
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        suffix: ["", -editable, -nogil]
        include:
          - os: macos-latest
            suffix: -accelerate
      fail-fast: false
    steps:
      - name: Checkout pixi-dev-scipystack
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      - name: Checkout scipy repo
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
        with:
          repository: lucascolley/scipy
          path: ./scipy/scipy
          submodules: recursive
          ref: win-dll
      - uses: prefix-dev/setup-pixi@v0.8.1
        with:
          pixi-version: v0.49.0
          manifest-path: scipy/pixi.toml
          #cache: true
          #cache-write: ${{ github.event_name == 'push' && github.ref_name == 'main' }}
      - name: Build SciPy
        working-directory: ./scipy
        run: pixi run build${{ matrix.suffix }}
      - name: Smoke test iPython
        working-directory: ./scipy
        run: pixi run ipython${{ matrix.suffix }} -- -c 'print("Hello world")'
      - name: Run some array API tests
        if: ${{ matrix.suffix == '' }}
        working-directory: ./scipy
        run: pixi run test-cpu -s cluster
      - name: Run linalg tests (fast)
        working-directory: ./scipy
        run: pixi run test${{ matrix.suffix }} -s linalg
